.AboutUs > h1 {
    color: bisque;
    font: 1000 2vmax "Book Antiqua";
    text-align: center;
    border-bottom: 1px solid antiquewhite;
    padding: 1vmax;
    width: 20vmax;
    margin: auto;
    margin-top: 4vmax;
    margin-bottom: 4vmax;

    
}

.AboutUs > p {
    flex: none;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(250, 235, 215, 0.513);
    border: 1px solid rgba(250, 235, 215, 0.213);
    width: 60vmax;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 4vmax;
    padding: 3vmax;
    justify-content: center;
    color: antiquewhite;
    font: 1000 1.4vmax "Book Antiqua";
}