.productListContainer {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgba(0, 0, 0, 0.158);
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  #productListHeading {
    font-size: 40px;
    padding: 0.5vmax;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.637);
    transition: all 0.5s;
    margin: 2rem;
    text-align: center;
  }
  
  .productListTable {
    background-color: rgb(255, 255, 255);
  }
  
  .productListTable div {
    font: 300 1vmax ;
    color: rgb(51, 51, 51);
  }
  
  .productListTable a,
  .productListTable button {
    color: rgba(0, 0, 0, 0.527);
    transition: all 0.5s;
  }
  
  .productListTable a:hover {
    color: rgb(222, 203, 147);
  }
  
  .productListTable button:hover {
    color: rgb(219, 115, 18);
  }
  
  .MuiDataGrid-columnHeader div {
    color: rgb(42, 42, 42);
  }
  
  @media screen and (max-width: 600px) {
    .productListTable div {
      font: 300 4vw ;
    }
  }