y.banner > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}



.banner > div > p {
    position: absolute;
    background-color: rgba(10, 10, 10, 0.696);
    
    margin-top: -70vmax;
    margin-left: 70vmax;
    font: 600 5vmax "Book Antiqua";
    color: #f4f3f2;

}


.banner > div > h1 {
    position: absolute;
    margin-top: -40vmax;
    margin-left: 27vmax;
    color: black;
    background-color: #f4f3f26c;
    border-radius: 20%;
    font: 600 5vmax "Book Antiqua";
}


.banner > div > h1 > b {
    color: rgb(47, 22, 2);
    
}

.banner > div > p > b {
    color: #27211a;
}


.banner > img {
  filter: blur(1.3vmax);
  -webkit-filter: blur(1.3px);

  height: 100%; 
  width: 100%;
  position: relative;
  
  
}


.banner > div > a > button {
    
    position: absolute;
    margin-top: -27vmax;
    margin-left: 47vmax;
    cursor:pointer;
    background-color: black;
    border: 4px solid black;
    color: antiquewhite;
    border-radius: 20px;
    padding: 1vmax;
    transition: all 0.4s;
    width: 9vmax;
    font-size: 20px ;
}

.banner > div > a > button:hover {
    background-color: #272829;
    border: 4px solid #272829;

}

.homeHeading {
    text-align: center;
    /* font: "Book Antiqua"; */
    font-size: 2vmax;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 20vmax;
    padding: 1vmax;
    margin: 4.9vmax auto;
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
}

.productCard {
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #ffffff;
    margin: 2vmax;
    transition: all 0.4;
    padding-bottom: 0.5vmax;

}

.productCard > div {
    margin: 0.5vmax;
    margin-top: -0.5vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.productCard > div > span {
    margin: 0.5vmax;
    font: 300 1.2vmax ;

}

.productCard > p {
    font-size: 1.6vmax;
    margin: 1vmax 0.7vmax;
    text-align: center;
}

.productCard > span {
    text-align: center;
    font: 300 1.2vmax "Book Antiqua";
    font-weight: 1000;
}

.productCard:hover {
    box-shadow: 0 0 5px rgb(68, 68, 68);
    transition: all 0.6s;
    transform: translateY(-1vmax);
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 35px;
    position: absolute;
    margin: 20vmax;
    margin-left: 40vmax;
}

.Sign-Up{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -238vmax;
    
    cursor:pointer;
    background-color: black;
    border: 4px solid black;
    color: antiquewhite;
    border-radius: 20px;
    padding: 1vmax;
    transition: all 0.4s;
    width: 8vmax;
    font-size: 20px ;
    cursor:pointer;

}
.Sign-Up:hover{
    background-color: #272829;
}